<footer class="footer">
  <div>
    <a href="https://www.instagram.com" class="ins"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
    <a href="https://www.twitter.com" class="tw"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
    <a href="https://www.facebook.com" class="fb"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
  </div>
  <p style="color: whitesmoke;"class="text-center">© 2023 Saffron Lounge. All Rights Reserved.</p>

  <div class="contact-info"style="color: black;">
    <p >Contact us: 123-456-7890 | </p>
    <a href="mailto:info@saffronlounge.com" class="mail">Email: info@saffronlounge.com </a>
    <button class="btn btn-link" routerLink="/help-line">Help-line</button>
  </div>

</footer>
