<body>
  <header>
    <div class="logo">
      <img src="./assets/img/DXClogo1.jpg" alt="Restaurant Logo" />
    </div>
    <div class="welcome-note">
      <h2>Hi Admin!</h2>
    </div>
    <div class="nav-link">
      <a class="nav-link" routerLink="/home">Logout</a>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="card">
        <h4>Customer Details</h4>
        <p>View and manage customer information.</p>
        <a routerLink="/admin/customers">View Customers</a>
      </div>

      <div class="card">
        <h4>Restaurant Details</h4>
        <p>Update restaurant information.</p>
        <a routerLink="/admin/restaurant">Edit Restaurant </a>
      </div>

      <div class="card">
        <h4>Customer Feedbacks</h4>
        <p>View and respond to customer feedback.</p>
        <a routerLink="/admin/feedbacks">View Feedbacks</a>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <h4>Customer Complaints</h4>
        <p>View and address customer complaints.</p>
        <a routerLink="/admin/complaints">View Complaints</a>
      </div>

      <div class="card">
        <h4>Edit Food Items</h4>
        <p>Update the details of a food item.</p>
        <a routerLink="/admin/food-items">Edit Food Items</a>
      </div>

      <div class="card">
        <h4>Category Management</h4>
        <p>Manage the food Categories</p>
        <a routerLink="/admin/categories">Edit Categories</a>
      </div>
    </div>
  </div>
</body>
